@charset "UTF-8";

/**************************************/
/* HEADER */
/**************************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;

    height: 12em;
    padding: 0px 48px;
}

.logo {
    height: 2.2em;
}

/**************************************/
/* NAVIGATION */
/**************************************/

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4em;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500px;
    font-size: 2em;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 0.8em 1.6em;
    border-radius: 9px;
    color: white;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #cf711f;
} 

/**************************************/
/* HERO SECTION*/
/**************************************/
.section-hero {
    background-color: #fdf2e9;
    padding: 6em 0em 12em 0;
}

.hero {
    max-width: 130em;
    margin: 0px auto;
    padding: 0px 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6em;
    align-items: center;
}


.hero-description {
    font-size: 2em;
    line-height: 1.6;
    margin-bottom: 3em;
}

.hero-img {
    width: 100%;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 80px;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    margin-right: -1em;
    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size: 1.8em;
    font-weight: 600;
}

.delivered-text span {
    color: #cf711f;
    font-weight: 700px;
}

/**************************************/
/* FEATURED IN SECTION*/
/**************************************/

.section-featured {
    padding: 3em 0 2em 0;
}

.heading-featured-in {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500px;
    text-align: center;
    margin-bottom: 1.2em;
    color: #888;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 2em;
    filter: brightness(0%);
    opacity: 50%;
}

/**************************************/
/* HOW IT WORKS SECTION*/
/**************************************/

.section-how {
    padding: 10em 0px;
}

.step-number {
    font-size: 8em;
    font-weight: 600px;
    color: #ddd;
    margin-bottom: 12px;
}

.step-description {
    font-size: 1.8em;
    line-height: 1.8;
}

.step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;  
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.step-img-box::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}

.step-img-box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
}

.step-img {
    width: 35%;
}

/**************************************/
/* MEALS SECTION*/
/**************************************/

.section-meals {
    padding: 10em 0px;
}

.meal {
    box-shadow: 0 2.4em 4.8em rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2em);
    box-shadow: 0 3.2em 6.4em rgba(0, 0, 0, 0.06);
}

.meal-cont {
    padding: 2em 3em 3em 3em;
}

.meal-tags {
    margin-bottom: 12px;
    display: flex;
    gap: 4px;
}

.tag {
    display: inline-block;
    padding: 0.4em 0.8em;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}

.tag--vegetarian {
    background-color: #51cf66;    
}

.tag--vegan {
    background-color: #94d32d;    
}

.tag--paleo {
    background-color: #ffd43b;    
}

.meal-title {
    font-size: 2.5em;
    color: #333;
    font-weight: 800px;
    margin-bottom: 2em;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.meal-attribute {
    font-size: 1.8em;
    display: flex;
    align-items: center;
    gap: 1em;
}
.meal-icon {
    height: 1.5em;
    width: 1.5em;
    color: #e67e22;
}

.meal-img {
    width: 100%;
}

.all-recipes {
    text-align: center;
    font-size: 18px;
}

/**************************************/
/* TESTIMONIALS SECTION*/
/**************************************/

.section-testimonials {    
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials-container {
    padding: 10em;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3em;  
    column-gap: 8em;  
}

.testimonial-img {
    width: 6em;
    border-radius: 50%;
    margin-bottom: 12px;
}

.testimonial-text {
    font-size: 1.8em;
    line-height: 1.8;
    margin-bottom: 1em;
}

.testimonial-name {
    font-size: 1em;
    color: #6f6f6f;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 1em;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/**************************************/
/* PRICING SECTION*/
/**************************************/

.section-pricing {
    padding: 10em 0px;
}

.pricing-plan {    
    border-radius: 11px;
    
    width: 75%;
}

.pricing-plan--starter {
    justify-self: end;
    border: 2px solid #fdf2e9;
    padding: 46px;
}

.pricing-plan--complete {
    background-color: #fdf2e9;
    padding: 48px;
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::after {
    content: "Best Value";
    position: absolute;
    top: 6%;
    right: -18%;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    columns: #333;
    background-color: #ffd43b;
    padding: 8px 80px;
    transform: rotate(45deg);
}

.plan-header {
    text-align: center;
    margin-bottom: 3em;
}

.plan-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 2em;
}
.plan-price {
    font-size: 6.2em;
    font-weight: 600;
    color: #333;
    margin-bottom: 1em;
}

.plan-price span {
    font-size: 1em;
    font-weight: 500;
    margin-right: 8px;
}

.plan-text {
    font-size: 1.6em;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    text-align: center;
    margin-top: 48px;
}